@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background: white;
}

.container {
  margin: 0 5%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
header {
  z-index: 10;
  /* position: sticky;
  top: 0; */
  width: 100%;
  height: 10vh;
  background: #fcfcfc;
  border-bottom: 1px solid rgba(126, 126, 126, 0.15);
}
.header-inner__logo {
  width: 60px;
  height: 60px;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.header-inner__href {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  /* color: black; */
  color: #755641;
  padding-bottom: 5px;
  transition: 0.2s;
}
.header-inner__href::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #755641;
  transition: 0.2s;
}
.header-inner__href:hover::after {
  width: 100%;
}
/* tittle block */

.title-block {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-block__logo {
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: #755641;
}

.title-block__title {
  opacity: 0;
  transform: scale(0);
}

.title-block__logo img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.title-block__logo::before {
  position: absolute;
  content: "";
  display: block;
  width: 500px;
  height: 10px;
  bottom: 0;
  background: white;
}

/* services */

.services {
  height: 100vh;
  width: 100%;
  background: #c0aea0;
  padding-top: 10vh;
  position: relative;
}
.service__title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #fcfcfc;

  opacity: 0;
  transform: scale(0);
}
.services__wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 20px auto 0 auto;
}
.services__inner {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.services__slide {
  border-radius: 20px;
}
.services__inner-card {
  height: 700px;
  flex-shrink: 0;
  width: 500px;
  background: #efefef;
  border-radius: 20px;
  padding: 15px 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.services__inner-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services__inner-card-header p {
  font-size: 25px;
  font-weight: 700;
}
.services__inner-card-header span {
  display: block;
  padding: 5px 10px;
  background: rgba(117, 86, 65, 0.5);
  color: #fcfcfc;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(117, 86, 65, 0.5);
}
.services__inner-card-title {
  height: 150px;
}
.services__inner-card-title h2 {
  margin: 35px 0;
  font-size: 20px;
  font-weight: 600;
}
.services__line-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.services__line-block span {
  display: block;
  width: 90%;
  height: 3px;
  background: rgba(117, 86, 65, 0.3);
  border-radius: 3px;
}
.services__line-block p {
  font-size: 20px;
  font-weight: 600;
  color: #755641;
}

.services__features {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  list-style: none;

}

.services__features-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}

.services__features-item:last-child {
  margin-bottom: 0;
}

.services__input {
  display: none;
}

.services__input + label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
}

.services__input:hover + label::before {
  opacity: 0.5;
}

.services__icon {
  width: 20px;
  position: absolute;
  top: -4px;
  left: 29%;
  display: none;
  pointer-events: none;
}

.services__icon:hover {
  opacity: 0.5;
}

.services__input + label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #c0aea0;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  top: -10px;
  left: -22px;
}

@media (max-width: 530px) {
  .services__input + label::before  {
    left: 20%;
  }

  .services__icon {
    left: 22%;
  }
}

.services__features-item label {
  padding-left: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.services__input:checked + label + .services__icon {
  display: block;
}

.services__input:not(:checked) + label + .services__icon {
  display: none;
}

/* .services__button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.services__button {
  font-size: 20px;
  width: 60%;
  height: 50px;
  padding: 10px 20px;
  background: rgba(192, 174, 160, 0.3);
  border-radius: 5px;
  border: 1px solid rgba(126, 126, 126, 0.15);
  cursor: pointer;
  margin-bottom: 40px;
  align-self: center;
  transition: background 0.3s ease;
}

.services__button:hover {
  background: rgba(192, 174, 160, 0.6);
}

/* .services__btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.services__btn--prev {
  left: 0;
}

.services__btn--next {
  right: 0;
} */
/* footer */

footer {
  width: 100%;
  min-height: 300px;
  overflow-y: hidden;
  background: #fcfcfc;
  border-top: 1px solid rgba(126, 126, 126, 0.15);
}
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer-inner__logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
  width: 20vw;
  padding: 30px 50px;
}
.footer-inner__logo-title {
  font-size: 30px;
  font-weight: 700;
  color: #755641;
}
.footer-inner__text {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 30px;
}
.footer-inner__logo-block img {
  width: 220px;
  height: 220px;
}
.footer-inner__text-block ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-inner__href {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #755641;
}

/* examples */
.examples {
  width: 100%;
  height: 100vh;
  background: #fcfcfc;
  padding-top: 5vh;
}
.examples__title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.examples-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.examples-inner__card {
  width: 50%;
  height: 70%;
  background: #755641;
  border-radius: 10px;
}
/* scheme */

.scheme {
  width: 100%;
  min-height: 35vh;
  background: #c0aea0;
  padding-top: 5vh;
}
.scheme__title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #efefef;
}

.scheme-inner {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scheme-inner__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 80%;
}
.scheme-inner__card img {
  width: 100px;
  height: 100px;
}
.scheme-inner__card h2 {
  font-size: 25px;
  font-weight: 700;
  color: #efefef;
}
/* form */
.form-block {
  width: 100%;
  height: 65vh;
  background: #fcfcfc;
  padding-top: 5vh;
}
.form-block__title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.form-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  gap: 30px;
}
.form-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.form-inner div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__input {
  border-radius: 5px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  height: 50px;
  background: rgba(192, 174, 160, 0.3);
  border: 1px solid rgba(126, 126, 126, 0.15);
}
.form__input:focus {
  outline: none;
}
.select:focus {
  outline: none;
}
.select {
  border-radius: 5px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  height: 50px;
  background: rgba(192, 174, 160, 0.3);
  border: 1px solid rgba(126, 126, 126, 0.15);
}
.form__btn {
  cursor: pointer;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  background: rgba(192, 174, 160, 0.3);
  border: 1px solid rgba(126, 126, 126, 0.15);
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.712);
  transition: 0.2s;
}
.form__btn:hover {
  background: rgba(192, 174, 160, 0.5);
}
